section
	h2 Interfaces
	h3 3rd Party Libraries

	br
	.strong.underline A brief note on 3rd party interfaces
	br
	div Interface definitions files end in .d.ts, meaning it is only used by the compiler (no compiled output).
	br
	div DefinitelyTyped is a project on GitHub that provides interface definitions for common libraries.
	div
		a(href="https://github.com/borisyankov/DefinitelyTyped‎") https://github.com/borisyankov/DefinitelyTyped‎