doctype
html(lang='en')
    include head
    body
        .reveal
            .slides
                section
                    include slides/01-Welcome/01-Welcome.jade
                    include slides/01-Welcome/02-Sponsors.jade
                section
                    include slides/02-Overview/01-WhatIsTypeScript-Pt1
                    include slides/02-Overview/02-WhatIsTypeScript-Pt2
                    include slides/02-Overview/03-WhatIsntTypeScript-Pt1
                    include slides/02-Overview/04-WhatIsntTypeScript-Pt2
                    include slides/02-Overview/05-WhatIsntTypeScript-Pt3
                section
                    include slides/03-Features/01-Classes/01-Basic
                    include slides/03-Features/01-Classes/02-Inheritance
                    include slides/03-Features/01-Classes/03-StaticVars
                    include slides/03-Features/01-Classes/04-PrivateVars
                    include slides/03-Features/01-Classes/05-PrivateVars-Note
                    
                    include slides/03-Features/02-Interfaces/01-Basic
                    include slides/03-Features/02-Interfaces/02-3rdPartyLibraries
                    include slides/03-Features/02-Interfaces/03-3rdPartyLibraries-Note
                    
                    include slides/03-Features/03-TypeAnnotations/01-SupportedTypes
                    include slides/03-Features/03-TypeAnnotations/02-SupportedTypes-Examples
        include footer