section
	h2 Functions
	h3 Inline Functions

	div (also called Lambda expressions)
	pre.
		var items = [
			{ Name: 'Susie', Age: 27 },
			{ Name: 'Jim', Age: 34 }
		];

		var result = _.find(items, a => a.Name == 'Jim');

		// Multiple parameters
		var sum = (a, b) => a + b;

		// Multi-line
		var abs = (a) => {
			if (a &lt; 0) {
				return -a;
			}

			return a;
		}