section
	h2 Other Stuff
	h3 Source Maps

	div 
		span Allows you to debug TypeScript in
		br 
		span the browser using 
		span.underline original source
	
	.break
		ul
			li Available via command-line
				pre > tsc --sourcemap app.ts
			li Browser support is limited, standard is emerging quickly