section
	h2 The Not So Good Parts
	
	ul
		li Tools and plugins are still clumsy
		li Lacks support for generics
		li Type annotations require more code
		li 3rd party integration is painful
			ul
				li DefinitelyTyped is great for common libraries!
				li Cast to &lt;any&gt; to go "unsafe"
				li Code generation?
		li Dynamic bindings, client templates are not strongly typed
			ul
				li AngularJS, Knockout
				li Mustache, Handlebars, Underscore