section
	h1 Questions
	
	br
	div Thanks for listening!
	br
	
	.break
		h3 Download the slides
		a(href='https://github.com/jeremyalan/TypeScript-TheGoodParts') https://github.com/jeremyalan/TypeScript-TheGoodParts

	.break
		h3 Contact me
		div
			span @jeremyalan
			br
			span jeremyalan@gmail.com