section
	h2 Classes
	h3 Private variables

	br
	.strong.underline A brief note on using private
	br
	div Javascript does not understand public/private.  Private scope is only enforced by the TypeScript compiler