section
	h2 Tools
	h3 Web Playground

	div 
		a(href='http://www.typescriptlang.org/Playground') http://www.typescriptlang.org/Playground

	.break
		ul
			li Great for getting started
			li View compiler errors
			li Basic Intellisense support