section
	h2 Tools
	h3 Command-Line Compiler

	.small.break
		ul
			li Available via NPM
				pre > npm install -g typescript
			li Compile
				pre > tsc app.ts
			li File watcher also available
				pre > tsc -w