section
    h2 What is TypeScript?

    p
        span TypeScript is a programming language
        br
        span.small 
            span (Full spec available at 
            a(href='http://www.typescriptlang.org') typescriptlang.org
            span )

    p.break
        span Superset of Javascript
        br
        span.small (pure JS is valid TypeScript)
    
    p.break Transcompiles into pure Javascript