section
    h2 What is TypeScript

    div
        p Offers other language features
    
        ul
            li Modules (Namespaces)
            li Types + inheritance
            li Inline functions
            li many more...