section
    h2 What isn't TypeScript
    h3 C++ | C# | Java

    p Transcompiling to Javascript from existing languages is difficult because they have different design principles

    p.break TypeScript is a whole new language designed to harness the implicit power of Javascript
    