section
    h2 What isn't TypeScript
    h3 C++ | C# | Java

    p Transcompiling to Javascript from existing languages is often difficult because they were designed with a different design principles

    p.break TypeScript is a whole new language designed to harness the implicit power of Javascript
    
    p.small
        span Requires some extra effort to support type safety
        br
        span Cast to &lt;any&gt; to remove type checking