section
    h2 What isn't TypeScript
    h3 CoffeeScript

    p 
        span CoffeeScript provides a way to be more expressive
        br
        span In other words, do more with less code

    p
        span TypeScript is more verbose but provides type safety