section
    h2 What isn't TypeScript
    h3 Backbone, Knockout, Angular, ...
    
    p
        span TypeScript is just a language
        br
        span It's not a framework for building applications
        
    p
        span It is possible to build web applications with TypeScript using any existing framework